<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link type="text/css" rel="stylesheet" href="../css/notification.css" />
    
</head>
<body>
    <nav>
        <ul>
            <a class="nav" href="/notification">Notification board</a></li>
            <a class="nav"  href="/profile">profile</a>
        </ul>
    </nav>
<div>
    <div class="container">
    <span></span>
    <p id="notificationId" data-id="<%=notification._id%>"><%= notification.info%></p>
</div>
    
    
    <% comments.forEach( el => { %>
        <div class="container" >
     <p class="informationContainer"><span id="extraInfo"><a href='/profile/<%= el.user_id%>'><%= el.userName%> </a> <%= el.date%></span><br>
         <%= el.info%></p>
     <div class="extra" data-id="<%=el._id%>">
        <% if (id == notification.user_id) { %>
            <span class="gg-trash"></span>
            <%}  %>
     </div>
        </div>
        <% }) %> 
        <h2>Comment:</h2>
        <form action='/notification/<%= notification._id%>' method="POST">
            <textarea name="comment" rows="4" cols="50"> </textarea>
    
            <button type="submit"> POST</button>
        </form>
</div>

</body>
</html>