<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/notification.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href='https://css.gg/trash.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="css/notification.css" />

    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <a class="nav" href="/notification">Notification page</a></li>
            <a class="nav" id="logout" href="/logout">Logout</a>
        </ul>
    </nav>
<div>
    <h1>Your profile</h1>
    <h2>Make a new post:</h2>
    <form action="/profile/postOne" method="POST">
        <textarea name="notification" rows="4" cols="50"> </textarea>

        <button type="submit"> POST</button>
    </form>
    <% items.forEach( el => { %>
        <div class="container" >
     <p class="informationContainer"><span id="extraInfo"><a href='/profile/<%= el.user_id%>'><%= el.userName%></a> <%= el.date%></span><br>
        <a href='/notification/<%= el.id%>'><%= el.info%></a></p>
     <div class="extra" data-id="<%=el._id%>">
         <span>likes : <%=el.likes%></span>
      
     </div>
        </div>
        <% }) %> 
  
</div>

</body>
</html>